body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to left, rgb(193, 137, 33), rgb(226, 93, 153))
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Chakra Petch', sans-serif;
}




